<!DOCTYPE html>

<div class="tab-container">
    <div class="tabs">
        <button class="tab" onclick="openTab(event, 'tab1')"><img class="res" src="img/logo_win_noselect.png" /><b>Windows</b></button>
        <button class="tab" onclick="openTab(event, 'tab2')"><img class="res" src="img/logo_android_noselect.png" /><b>Android</b></button>
        <button class="tab" onclick="openTab(event, 'tab3')"><img class="res" src="img/logo_ios_noselect.png" /><b>iOS</b></button>
        <h3>Top 10 Popular</h3>
    </div>

    <div class="tab-content">
        <div id="tab1" class="tab-item">
            
            <ul id="tab">
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">NVIDIA Studio Driver 535.98</a>
                    <span class="left">Free</span>
                    <span class="left">English</span>
                    <span class="left">12.7 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">WinRAR 6.22</a>
                    <span class="left">Trial</span>
                    <span class="left">Turkish</span>
                    <span class="left">3.2 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">Google Drive 75.0.3.0</a>
                    <span class="left">Free</span>
                    <span class="left">English</span>
                    <span class="left">286.5 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">Yaoqiang BPMN Editor 6.0.5</a>
                    <span class="left">Free</span>
                    <span class="left">English</span>
                    <span class="left">7.8 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">Tweaking.com - Windows Repair</a>
                    <span class="left">Free</span>
                    <span class="left">English</span>
                    <span class="left">55.4 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">Ubisoft Connect (Uplay) 142.0</a>
                    <span class="left">Free</span>
                    <span class="left">English</span>
                    <span class="left">260.2 MB</span>
                </li>
                <li class="list">
                    <a href="https://www.gezginler.net/indir/nvidia-studio-driver.html" title="Deneme">YTD Youtube Downloader 7.27.2</a>
                    <span class="left">Free</span>
                    <span class="left">Japanese</span>
                    <span class="left">45.4 MB</span>
                </li>
            </ul>
        </div>

        <div id="tab2" class="tab-item">
            
            <ul>
                <li>Item A</li>
                <li>Item B</li>
                <li>Item C</li>
            </ul>
        </div>

        <div id="tab3" class="tab-item">
            
            <ul>
                <li>Item X</li>
                <li>Item Y</li>
                <li>Item Z</li>
            </ul>
        </div>
    </div>
</div>
